.new-tweet {
  border: solid lightgrey 1px;
  border-radius: 10px;
  background-color: #EBDDE2;
  padding: 15px;
}

.new-tweet h2 {
  border-bottom: solid thin;
  margin-top: 0px;
  color: teal;
}

.new-tweet textarea {
  width: 100%;
  margin-bottom: 10px;
}

.new-tweet span {
  float: right;
}

.red { color: red; }