#tweets article {
  border: solid lightgrey 1px;
  border-radius: 10px;
  margin: 10px 0px;
}

#tweets .avatar {
  float: left;
  height: 80px;
  width: 80px;
  margin-left: 10px;
  border: solid thin lemonchiffon;
  border-radius: 10px;
}

#tweets .fullName {
    line-height: 40px;
    margin-left: 10px;
    float: left;
    font-size: 2em;
    color: teal;
}

#tweets .userAcc {
  float: right;
  padding: 10px 10px;
  color: grey;
}

#tweets header {
  border-bottom: solid thin lightgrey;
  overflow: auto;
  padding: 10px 0 10px 0px;
  background-color: #EBDDE2;
  font-weight: bold;
  border-radius: 10px;
}

#tweets .content {
  padding: 10px 10px;
  height: 120px;
  font-size: 1.5em;
}


#tweets footer {
  border-top: solid thin lightgrey;
  padding: 0px 10px;
}

#tweets p {
  display: inline-block;
}

#tweets .icons {
  display: inline-block;
  float: right;
  margin: 15px;
  opacity: 0.5;
}

#tweets .icons:hover {
  opacity: 1.0;
}
